@mixin for-phone-only {
    @media (max-width: 599px) {
      @content;
    }
  }
  
  @mixin for-tablet-potrait-up {
    @media (min-width: 600px) {
      @content;
    }
  }
  
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
      @content;
    }
  }
  
  @mixin for-desktop-up {
    @media (min-width: 1200px) {
      @content;
    }
  }
  
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) {
      @content;
    }
  }

  .dialog-card{
    width: 100%;
  }
  .input-text-button{
    width: 90%;
    margin: 0 auto;
    display: block;
    margin-top: 33px;
    margin-bottom: 33px;
    color: #000;
  }
  .inline{
    display: inline!important;
  }
  .white-space-default{
    width: 100%;
    white-space: pre-line;
    hyphens: none;
  }
  .create-button{
    z-index: 9;
  }